{% extends "auctions/layout.html" %}
{% block title %}
Create Listing
{% endblock %}

{% block body %}
    <h2 class="mt-5 text-center">Add New Listing</h2>

    
    <div class="container mt-5">
        <div class="row justify-content-center col">
            <div class="col-md-8">
                <form action="{% url 'new'  %}" method="post">
                    {% csrf_token %}
                    
                    {{ new_product_form }}
                    <input class="btn btn-success btn-block mt-5" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>


{% endblock %}